<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "includes/header.html" %}
    <img id = "head_fon" src="{% static 'img/fon.jpg' %}" width="850" height="100">
    <img id = "fon_book"  src="{% static 'img/fon.jpg' %}" width="2000" height="600">
    <img id = "fon_book_static"  src="{% static 'img/fon.jpg' %}" width="2000" height="17450">
    <main class = "main_book">
        {% include "includes/books_objects.html" %}
    </main>
</body>
</html>