{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_bootstrap.css' %}">
{% block title %}
  "Детали"
{% endblock %}

{% block content %}
  <section class="a">
    <div class="container-fluid" style="background: rgba(225,180,148,0.65)">
      <div class="row">
        <div class="col-sm-1 col-lg-1"><p></p></div>

        <div class="col-sm-12 col-lg-12">
          <p id="book_name">{{ book.name }}</p>
        </div>

        <div class="col-sm-4 col-lg-4 shadow-sm">
          <div class="col">
            <div class="card h-100" >
              <img src="{{ book.cove }}" class="card-img-top" alt="...">
            </div>
          </div>
        </div>

        <div class="col-sm-8 col-lg-8" id="book_description">
          <p>Author: <small> {{ book.author }} </small> </p>
          <p>Section: <small> {{ book.section }} </small> </p>
          <p>Age: <small> {{ book.age }} </small> </p>
          <p>Year: <small> {{ book.year }} </small> </p>
          <p>Pages: <small> {{ book.pages }} </small> </p>
          <p>Description: <small> {{ book.description }} </small> </p>
        </div>

        <div class="col-sm-12 col-lg-12">
          <p></p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}