{% extends 'base.html' %}
{% load static %}
{% block title %}
  "Главная страница"
{% endblock %}

{% block content %}
  <section class="a" style="background: rgba(225,180,148,0.65)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 col-lg-1"></div>
        <div class="col-sm-6 col-lg-6">
          <img id="foto" src="{% static 'img/book.jpg' %}" width="450"
               height="500">
        </div>
        <div class="col-sm-6 col-lg-4" id="citation">
          <p>Can you smell that?</p>
          <p>These are books...</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
          <p class="text-center" style="margin-right: -20%"> Student: Verevkina
            Diana</p>
          <p class="text-center" style="margin-right: -20%"> Group: IU5-82B</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
