#name {
    color: #8a5834;
    font-family: sans-serif;
    font-size: 40pt;
    margin-left: 80px;
    margin-top: 20px
}

h1 a {
    text-decoration: none;
    color: #8a5834;
}

#foot1 {
    position: fixed;
    right: 40px;
    bottom: 10px;
    color: #8a5834;
    font-family: sans-serif;
}

#foot2 {
    position: fixed;
    right: 90px;
    bottom: -30px;
    color: #8a5834;
    font-family: sans-serif;
}

#citation1 {
    position: fixed;
    right: 200px;
    top: 220px;
    color: #6b462b;
    font-size: 35pt;
    font-family: sans-serif;
}
#citation2 {
    position: fixed;
    right: 210px;
    top: 300px;
    color: #6b462b;
    font-size: 35pt;
    font-family: sans-serif;
}

#foto {
    position: fixed;
    left: 90px;
    top: 100px;
    z-index: 2;
    opacity: 0.90
}

li a{
    display: inline-block;
    color: #6b462b;
    font-size: 30pt;
    font-family: sans-serif;
    margin-right: 15px;
    border: 1px solid #6b462b;
    padding: 3px;
    flex-basis: auto;
    flex-grow: 1;
    text-decoration: none;
}

li {
    list-style-type: none;
}

#li_1 {
    position: absolute;
    z-index: 3;
    left: 650px;
    top: 10px;
}

#li_2 {
    position: absolute;
    z-index: 3;
    left: 850px;
    top: 10px;
}

#li_3 {
    position: absolute;
    z-index: 3;
    left: 1050px;
    top: 10px;
}

li a:hover {
    background: #6b462b;
    color: #d1b099;
}

#fon {
    position: fixed;
    right: 0px;
    top: 0px;
    opacity: 0.90;
}

#head_fon {
    background-attachment: scroll;
    margin-left: 600px;
    margin-top: -140px;
    opacity: 0.90;
}

#fon_book {
    background-attachment: scroll;
    margin-left: 0px;
    margin-top: 50px;
}


main {
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 40px;
}

#book_link {
    text-decoration: none;
    color: white;
    background: #876955;
    margin-right: 15px;
    border: 1px solid #6b462b;
    padding: 7px;
    flex-basis: auto;
    flex-grow: 1;
}

#book_link:hover {
    background: antiquewhite;
    color: #634b3b;
}

#white_title {
    background-attachment: scroll;
    margin-left: 20px;
    margin-top: -85px;
    opacity: 0.90;
}

#white_block1 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: 10px;
}

#white_block2 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: 30px;
}

#white_block3 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: 50px;
}

#white_block4 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: 70px;
}

#white_block5 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: 90px;
}

#white_block6 {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: -165px;
}

#book_description {
    margin-left: 10px;
    color: #8a5834;
}

#book_foto {
    background-attachment: scroll;
    margin-left: 10px;
    margin-top: -10px;
}