{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_bootstrap.css' %}">
{% block title %}
  "Детали"
{% endblock %}

{% block content %}
  <section class="a">
    <div class="container-fluid" style="background: rgba(225,180,148,0.65)">
      <div class="row">
        <div class="col-sm-1 col-lg-1"><p></p></div>

        <div class="col-sm-12 col-lg-12">
          <p id="book_name">{{ book.name }}</p>
        </div>

        <div class="col-sm-4 col-lg-4 shadow-sm">
          <div class="col">
            <div class="card h-100">
              {% if book.cove %}
                <img src="{{ book.cove }}" class="card-img-top" alt="...">
              {% else %}
                {% thumbnail book.image "960x339" upscale=True as im %}
                  <img class="card-img my-2" src="{{ im.url }}">
                {% endthumbnail %}
              {% endif %}

            </div>
          </div>
        </div>

        <div class="col-sm-8 col-lg-8" id="book_description">
          {% if book.author_id %}
            <p>Автор: <small><a id="book_link"
                                 href="{% url 'books:author_detail' book.author_id.id %}">{{ book.author_id.author_name }}</a>
            </small></p>
          {% else %}
            <p style="color: #641010"> Автор неизвестен </p>
          {% endif %}
          <p>Секция: <small> {{ book.section }} </small></p>
          <p>Возрастное ограничение: <small> {{ book.age }} </small></p>
          <p>Год издания: <small> {{ book.year }} </small></p>
          <p>Количество страниц: <small> {{ book.pages }} </small></p>
          <p>Описание: <small> {{ book.description }} </small></p>
          {% if user.username == 'dianaverevkina' %}
            <a class="btn btn-primary"
               style="background: #c79577; border-color: #8a5834"
               href="{% url 'books:book_edit' id=book.id %}">
            редактировать запись
            <a class="btn btn-primary"
               href="{% url 'books:book_delete' id=book.id %}"
               style="background: darkred; border-color: #641010">
              удалить запись
            </a>
          {% else %}
            <span style='color: darkred'> редактирование недоступно </span>
          {% endif %}
          {% if book.id in favore_flags %}
            <a id="book_link" href="{% url 'books:make_not_favore' book.id %}
            " style="font-size: 20pt; color: darkred">&#9829;</a>
          {% else %}
            <a id="book_link" href="{% url 'books:make_favore' book.id %}
            " style="font-size: 20pt; color: darkred">&#9825;</a>
          {% endif %}
        <p></p>
                  <a style="color: #411910" id="book_link" href="{% url 'books:book_recommend' book.id %}">посмотреть похожие</a>

        </div>

        <div class="col-sm-12 col-lg-12">
          {% include "includes/add_comment.html" %}
          <p></p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}