{% extends 'base.html' %}
{% load static %}
{% block title %}
  "Избранное"
{% endblock %}

{% block content %}
  <section class="a" style="background: rgba(225,180,148,0.65)">
    <div class="container-fluid">
      <div class="row">
        <p></p>
        <h2 style="color: #6a3f27; text-align: center">Избранные книги</h2>

        <form action="{% url 'books:search_favorite_book'%}" method="get" style="margin-top: -3%">
          <input name="q" type="text" placeholder="Поиск...">
          <button type="submit" class="btn btn-primary"
                style="background: #72513e; border-color: #41220c">
          Найти
        </button>
        </form>

         {% include "includes/books_objects_FAVORITES.html" %}
      </div>
    </div>
    {% include 'includes/paginator.html' %}
    <p style="color: rgba(225,180,148,0.65)">-</p>
  </section>

{% endblock %}