{% extends "base.html" %}
{% block title %}
  Добавление секции
{% endblock %}

{% block content %}
  <div class="container-fluid" style="background: rgba(225,180,148,0.65)">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header"
                 style="background: #bd9379; color: white; font-weight: bold">
              Добавить секцию
            </div>
            <div class="card-body" style="background: rgba(255,235,213,0.53)">
              {% include "includes/block_errors.html" %}
              <form method="post" enctype="multipart/form-data"

                    action="{% url 'books:section_create' %}">
                {% csrf_token %}
                {% include "includes/form.html" %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary"
                          style="background: #72513e">
                    Добавить
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
