{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}
  <p></p>
  <p></p>
  <div class="row justify-content-center" style="background: rgba(225,180,148,0.85)">
    <div class="col-md-4 p-5">
      <div class="card">
        <h5 class="card-header" style="background: #bd9379; color: white; font-weight: bold">Выход</h5>
        <div class="card-body" style="background: rgba(255,235,213,0.53)">
          <h5 class="card-title"></h5>
          <p class="card-text">Вы вышли из системы.</p>
          <!-- <a href="#" class="btn btn-primary">Перейти куда-нибудь</a> !-->
        </div>
      </div>
    </div>
  <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
  <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
  </div>
{% endblock %}