{% extends 'base.html' %}
{% block title %} "Сброс пароля" {% endblock %}

{% block content %}
  <div class="row justify-content-center"
       style="background: rgba(225,180,148,0.85)">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header"
             style="background: #bd9379; color: white; font-weight: bold">
          Чтобы сбросить старый пароль — введите адрес электронной почты, под
          которым вы регистрировались
        </div>
        <div class="card-body" style="background: rgba(255,235,213,0.53)">
          <form method="post" action="{% url 'users:password_reset_form' %}">
            {% csrf_token %}

            <div class="form-group row my-3 p-3">
              <label for="id_email">
                Адрес электронной почты
                <span class="required text-danger">*</span>
              </label>
              <input type="email" name="email" maxlength="254"
                     class="form-control" required id="id_email">
            </div>
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary"
                      style="background: #72513e">
                Сбросить пароль
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

  </div>

{% endblock %}