{% load thumbnail %}

{% if book_name %}
  <p style="color: #4f2a1d; font-size: 16pt; font-weight: bold">Рекомендации к книге "{{ book_name }}"</p>

{% endif %}

<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for book in page_obj %}
    <div class="col">
      <div class="card h-100">
        {% if book.cove %}
          <img src="{{ book.cove }}" class="card-img-top" alt="...">
        {% else %}
          {% thumbnail book.image "960x339" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <p class="card-text">{{ book.age }}</p>
          <a id="book_link" href="{% url 'books:book_detail' book.id %}">подробнее</a>
        <p></p>
          <a style="color: #411910" id="book_link" href="{% url 'books:book_recommend' book.id %}">посмотреть похожие</a>
          <p></p>

        {% if book.id in favore_flags %}
          <a id="book_link" href="{% url 'books:make_not_favore' book.id %}
            " style="font-size: 20pt; color: darkred">&#9829;</a>
        {% else %}
          <a id="book_link" href="{% url 'books:make_favore' book.id %}
            " style="font-size: 20pt; color: darkred">&#9825;</a>
         {% endif %}

        </div>
      </div>
    </div>
  {% endfor %}
</div>